extends ../layouts/default

block main
  div.center
    img(src="../img/404.png")
    h1 <404> d'oh <404>
    p Something is wrong

block content
  #error-message-box
    #error-stack-trace
      - if(showStack)
        pre
          code!= error.stack
