!!! 5
html
  include includes/head
  body
    include includes/header
    .container-fluid
        .row-fluid
            .span8.offset2
                .span12
                block main
            .span2
    include includes/foot
